body {
    height: 100vh;
    background-color: $color-concrete;
    font-family: 'Roboto', sans-serif;
    color: $color-outer-space;
}

.row {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: $font-weight-bold;
}

h2 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    margin: 0;
}

p {
    font-size: 1.1rem;
}

a,
.btn-link {
    color: $color-outer-space;
    text-decoration: underline;

    &:hover {
        color: $color-outer-space;
        text-decoration: none;
    }
}

.datepicker {
    &.dropdown-menu {
        min-width: 15rem;
    }

    .table-condensed {
        margin: 0 auto;
    }

    table {
        tr {
            td {
                &.active {
                    &.active {
                        background-image: none;
                        background-color: $color-outer-space;
                    }
                }
            }
        }
    }
}
