html {
    background: #1b1c1d;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

p {
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

input {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    width: 180px;
    border: 1px solid #fff;
    border-radius: .2rem;
    margin-right: 5px;
    padding: 5px;
}

.error {
    background: #ffe6e6;
    border: 1px solid #ff0000;
}

.name-error,
.email-error {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    color: #ff0000;
}

.news {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: .3rem;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 90px;
    height: 90px;
    background-image: url('https://images.unsplash.com/photo-1516860304216-d3daa2927a68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=90&q=80');
    background-size: contain;
    box-shadow: 0 0 3px 3px #1b1c1d inset;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.btn {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    width: 100px;
    color: #fff;
    border: none;
    border-radius: .2rem;
    box-shadow:  0 0 0 1px #fff inset;
    margin-left: 5px;
    padding: 5px;
    outline: 0;
}