<div class="home">
	<div class="home-slider">
		<div class="home-slider-item">
			<h1>
				Cześć!
			</h1>
			<p>
				Masz dosyć codziennych 500-tek?
				<br />
				Tracenia czasu na zastanawianie się "czemu tu funkcja nie działa"?
				<small>
					(bo zapomniałeś ją wywołać...)
				</small>
				<br />
				Klientów, którzy po 10 razy dziennie chcą zmieniać rozmiar hadwójek?
				<br />
				PM-ów myślących, że ich projekt jest najważniejszy na świecie?
			</p>
		</div>
		<div class="home-slider-item">
			<h2>
				Tobie też należy się relaks!
			</h2>
		</div>
		<div class="home-slider-item">
			<h2>
				Zobacz, co oferuje nasze SPA dla programistów.
			</h2>
			<p>
				Jedyne na dzielni.<br />
				Jedyne, które rozumie, że programista też &#129492; <small>(i tylko czasami &#128125;)</small>
			</p>
		</div>
	</div>
	<div id="home-location">
		<div class="home-location-header">
			<div class="row h-100">
				<div class="col-12 align-self-center">
					<h3>Lokalizacja</h3>
				</div>
			</div>
		</div>
		<div class="home-location-content">
			<div class="row p-5">
				<div class="col-12 align-self-center">
					<img class="home-location-content-img" src="/img/location.png" alt="Lokalizacja" />
				</div>
			</div>
		</div>
	</div>
</div>
</div>