<div class="login">
    <div class="login-header">
        <div class="row h-100">
            <div class="col-12 align-self-center">
                <h3>Logowanie</h3>
            </div>
        </div>
    </div>
    <div class="login-content d-flex">
        <div class="row w-100 justify-content-md-center align-self-center">
            <div class="col-md-3">
                <form>
                    <div class="form-group">
                        <label for="mail">E-mail</label>
                        <input type="email" class="form-control" id="mail" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <label for="pass">Hasło</label>
                        <input type="password" class="form-control" id="pass" placeholder="Hasło">
                    </div>
                    <button type="submit" class="btn btn-primary">Zaloguj się</button>
                </form>
                <p>Nie masz konta? <a href="/rejestracja">Zarejestruj się</a>!</p>
            </div>
        </div>
    </div>
</div>