footer {
    .footer {
        &-content {
            height: 100px;
            background-color: $color-outer-space;
            color: $color-white;

            a {
                color: $color-white;
            }

            .fab {
                margin-left: 5px;
                vertical-align: text-bottom;
                font-size: 1.2rem;
            }
        }
    }
}
